@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Config Transform Sample</h1>
    <p class="lead">This application is a sample for environment based configuration transforms in Azure Websites.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>What's happening?</h2>
        <p>A web site and job have (hopefully) been deployed to an Azure Website. Both have an environment-base configuration transform.</p>
        <p>The job pings the site every minute and the site displays the last ping.</p>
    </div>
    <div class="col-md-6">
        <h2>How does this work?</h2>
        <p>Check out the repo on GitHub. Remember, this is a sample of config transforms - not coding standards.</p>
        <p><a class="btn btn-default" href="https://github.com/ducas/ConfigTransformSample">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Environment Name</h2>
        <p>@ViewBag.EnvironmentName</p>
    </div>
    <div class="col-md-6">
        <h2>Last Ping</h2>
        <p>@ViewBag.LastPing</p>
    </div>
</div>